<section class="form-registration">
    <div class="container d-block d-lg-flex">
        <div class="registration col-12 col-lg-6">
            <form class="row g-3 needs-validation" >
                <div class="title">
                    Registration form
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex mt-4 mt-lg-5">
                        <img src="../img/username.png" alt="">
                        <input type="text" class="form-control" placeholder="Username" id="validationCustom01" value=""
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex mt-4">
                        <img src="../img/email.png" alt="">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 d-flex mt-4">
                        <img src="../img/pswd.png" alt="">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    </div>
                    <div class="col-11 col-sm-6 col-md-6 mt-4 margin">
                        <input type="password" class="form-control" id="floatingPassword"
                            placeholder="Confirm password">
                    </div>
                </div>

            </form>
        </div>
        <div class="details">
            <form class="row g-3 needs-validation" novalidate>
              <div class="title mt-5 mt-lg-3">
                    Personal details
              </div>
                <div class="row mt-4 mt-lg-5">
                    <div class="col-md-6 d-flex">
                        <input type="text" class="form-control" placeholder="First name" id="validationCustom01"
                            value="" required>
                    </div>

                    <div class="col-md-6 d-flex mt-3 mt-lg-0">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Last name">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-lg-6">
                    <select class="form-select" id="validationTooltip04" required>
                        <option>Mail</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="col-md-6 mt-3 mt-lg-0">
                    <input type="text" class="form-control font" placeholder="mm/dd/yyyy" id="validationCustom01">
                </div>
                </div>
            </form>
        </div>

    </div>
        <div class="container">
        <div class="row mt-5">
        <div class="col-md-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                    Agree to terms and conditions
                </label>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                    Agree to terms and conditions
                </label>
            </div>
        </div>
    </div>
    </div>
    <div class="line"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="button">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
            </div>
        </div>
    </div>
</section>