<section class="form-two">
    <form>
        <div class="container">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Inputs</label>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3">
                    <input type="text" class="form-control" placeholder="Enter some text" id="validationCustom01">
                </div>
                <div class="mt-3 mt-sm-0 col-12 col-sm-4 col-md-3">
                    <input type="text" class="form-control is-valid" value="valid text" id="validationCustom01">
                </div>
                <div class="mt-3 mt-sm-0 col-12 col-sm-4 col-md-3">
                    <input type="text" class="form-control is-invalid" value="invalid text" id="validationCustom01">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Check boxes</label>
                <div class="col-sm-12 d-flex">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>

                    </label>
                    <div class="textt mt-1">Subckribe</div>
                    </label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider-two"></span>
                    </label>
                    <div class="textt mt-1">Subckribe</div>
                </div>
                <div class="row">
                    <label class="col-form-label col-sm-12 pt-0">Radio buttons</label>
                </div>
                <div class="row">
                    <div class="text col-3 col-md-2  col-lg-1">Gender</div>
                    <div class="form-check col-3 col-md-2 col-lg-1 p-0">
                        <input name="origin" class="radio-btn" type="radio" value="">
                        <label class="form-check-label" for="gridRadios1">
                            Male
                        </label>
                    </div>
                    <div class="form-check col-3 col-md-2 col-lg-2 p-0 m-0">
                        <input name="origin" class="radio-btn" type="radio" value="">
                        <label class="form-check-label" for="gridRadios2">
                            Female
                        </label>
                    </div>
                </div>
                <label class="col-form-label col-sm-12 pt-0">Buttons</label>
                <button type="button" class="btn mt-2 mt-lg-0 btn-primary btn-active">Active</button>
                <button type="button" class="btn mt-2 mt-lg-0 btn-primary btn-hover">Hover</button>
                <button type="button" class="btn mt-2 mt-lg-0 btn-danger">Danger</button>
                <button type="button" class="btn mt-2 mt-lg-0 btn-primary btn-hover btn-hover_red">Hover</button>
                <button type="button" class="btn mt-2 mt-lg-0 btn-primary btn-disabled">Disabled</button>
                <button type="button" class="btn mt-2 mt-lg-0 btn-primary btn-plus">+</button>
                <button type="button" class="btn mt-2 mt-lg-0 btn-primary btn-minus">-</button>


                <label for="exampleFormControlTextarea1" class="col-form-label">Text Area</label>
                <textarea class="form-control" placeholder="Enter some text" id="exampleFormControlTextarea1"
                    rows="8"></textarea>
            </div>
    </form>
</section>