<section class="cart mt-5">
    <div class="container">
        <div class="row ">
            <div class="col-9">
                <div class="credit">
                    <div class="credit__title">
                        <p>CREDIT CARD DETAILS</p>
                    </div>
                    <div class="credit__content">
                        <div class="credit__content_image">
                            <img src="/img/moon_flag.png" alt="">
                        </div>
                    </div>
                    <form class="row g-3">
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="validationDefault01" class="form-label">Card Number</label>
                                <input type="text" maxlength="16" autocomplete="on" placeholder="1234 5678 9012 3456"
                                    class="form-control" id="validationCustom01" value="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="validationDefault02" class="form-label">Name on Card</label>
                                <input type="text" placeholder="Name Surname" class="form-control"
                                    id="validationCustom01" value="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="validationDefault02" class="form-label">Expiy Date</label>
                                <input type="text" maxlength="2" placeholder="02" class="form-control"
                                    id="validationCustom01" value="" required>
                            </div>
                            <div class="col-md-2">
                                <label for="validationDefault02" class="form-label">Expiy Date</label>
                                <input type="text" maxlength="4" placeholder="2017" class="form-control"
                                    id="validationDefault02" value="" required>
                            </div>
                            <div class="col-md-2">
                                <label for="validationDefault02" class="form-label">CVV / CVN</label>
                                <input type="password" maxlength="3" placeholder="***" class="form-control"
                                    id="validationDefault02" value="" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>